{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Hiking Blog</h1></div>
    </div>
    {% for post in posts: %}
    <div class="content">
        <div class="card">
            <h2>{{post.title}}</h2>
            <p>{{post.subtitle}}</p>
            <p>Difficulty: {{post.difficulty}} Duration: {{post.length}}</p>
            <a href="{{ url_for('get_blog', index=post.id) }}">Read</a>
        </div>
    </div>
    {% endfor %}
    <a href="{{ url_for('contact_me') }}">Contact me!</a>
    <a href="{{ url_for('login') }}">Log In</a>
    <a href="{{ url_for('add_blog') }}">Add new post</a>
</div>
{% endblock %}
