{% extends "base.html" %}
{% block content %}
<div class="wrapper">
        <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}">Log In</a>
            <a href="{{ url_for('auth.sign_up') }}">Sign Up!</a>
            <a href="{{ url_for('views.contact_me') }}">Contact me!</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('views.add_blog') }}">Add new post</a>
            <a href="{{ url_for('views.contact_me') }}">Contact me!</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    <div class="top">
        <div class="title"><h1>My Hiking Blog</h1></div>
    </div>
    {% for post in posts|reverse: %}
    <div class="content">
        <div class="card">
            <h2>{{post.title}}</h2>
            <p>{{post.subtitle}}</p>
            <p>Difficulty: {{post.difficulty}} Duration: {{post.length}}</p>
            <a href="{{ url_for('views.get_blog', index=post.id) }}">Read</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
